
/* Primary font */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.quicksand-primary {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* Secondary Font */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

.raleway-secondary {
    font-family: "Raleway", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
  

/* Shared Style */
body{
    max-width: 1440px;
    margin: 0 auto;
}

header, .banner{
    max-width: 1160px;
    margin: 0 auto;
}

.display-flex{
    display: flex;
}

.orange{
    color: #FEA301;
}

.sky-blue{
    color: #01ACFD;
}

.cyan{
    color: #05D4DF;
}

.purple{
    color: #5D58EF;
}

.primary-btn{
    background-color: #111111;
    border-radius: 12px;
    font-weight: 600;
    font-size: 1.25rem;
    color: #FFFFFF;
    border: none;
    padding: 10px 47px;
}




/* Navbar style */
.hamburger{
    display: none;
}

.nav-items{
    text-decoration: none;
    padding: 0;
    margin: 0;
}
.nav-item{
    list-style: none;
}

.navbar{
    justify-content: space-between;
    align-items: center;
}

.nav-items{
    gap: 32px;
}

.nav-title{
    margin-left: 11px;
    font-weight: 700;
    font-size: 2rem;
}

.brand{
    align-items: center;
}
.brand img{
    width: 100%;
    height: 100%;
}

.nav-link{
    text-decoration: none;
    font-weight: 500;
    font-size: 1.25rem;
}

#home{
    font-weight: bold;
}

.nav-button{
    background-color: #FEA301;
    border-radius: 12px;
    font-weight: 600;
    font-size: 1.25rem;
    color: #FFFFFF;
    border: none;
    padding: 10px 60.5px;
}


/* Banner */
.banner{
    align-items: center;
    gap: 50px;
}

.banner-content{
    max-width: 640px;
}

.banner-title{
    font-size: 3.5rem;
    font-weight: bold;
}

.banner-desc{
    font-size: 1.25rem;
    color: #111111;
}

.banner-img img{
    width: 100%;
}

/* standard curriculum style */
.standard-curriculum{
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
    padding-bottom: 60px;
    background-image: url('../assets/bg.png');
    /* background-color: #FEA301; */
    background-repeat: no-repeat;
    width: 100%;
}

.curriculam-title{
    font-weight: bold;
    font-size: 2.875rem;
    margin: 0;
}

.curriculam-container{
    max-width: 1160px;
    padding-top: 80px;
    padding-bottom: 80px;
    /* background-color: #5D58EF; */
    gap: 28px
}

.curr-card{
    flex-direction: column;
    border-radius: 18.86px;
    align-items: center;
    padding-top: 52px;
    padding-bottom: 52px;
    box-shadow: 0px 0px 28.3px rgba(0, 0, 0, 0.05);
}

.card-1{
    background-image: linear-gradient(to bottom, #DEF5FF , #FFFFFF 40%);
}

.card-2{
    background-image: linear-gradient(to bottom, #FFF4DC , #FFFFFF 40%);
}

.card-3{
    background-image: linear-gradient(to bottom, #EEE1FF , #FFFFFF 40%);
}

.card-title{
    font-weight: bold;
    font-size: 1.5rem;
    margin-top: 32px;
    margin-bottom: 33.5px;
}

.card-desc{
    text-align: center;
    max-width: 80%;
    color: rgba(128, 128, 128, 1);
    line-height: 28.3px;
    font-size: 0.94rem;
    margin-top: 0;
    margin-bottom: 33px;
}

.card-link{
    text-decoration: none;
    font-weight: bold;
}

.card-1 a{
    color: #64C8FF;
}

.card-2 a{
    color: #F0AA00;
}

.card-3 a{
    color: #8700FF;
}

.curr-btn{
    background-color: #FEA301;
    border-radius: 50%;
    border: 0;
    height: 60px;
    width: 60px;
    margin-right: 10px;
}


/* Footer */
footer{
    max-width: none;
}
.footer-container{
    padding: 150px 140px 174px 140px;
    background-color: #01ACFD;
}
.footer-container>div{
    flex: 1;
}

.footer-links{
    list-style: none;
    padding: 0;
}

.footer-link, .footer-title, .footer-1-desc, .about-school, .keep-in-touch{
    color: #FFFFFF;
}

.footer-title{
    font-weight: bold;
    font-size: 2.5rem;
    margin-bottom: 3px;
    margin-top: 3px;
}
.footer-img-title img{
    width: 100%;
    height: 100%;
}
.footer-img-title{
    align-items: center;
}
.footer-1-desc{
    font-size: 1.25rem;
}
.about-school{
    font-weight: bold;
    font-size: 1.5rem;
}
.footer-item{
    margin-bottom: 20px;
}
.footer-link{
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: 500;
}
.keep-in-touch{
    font-weight: bold;
    font-size: 1.625rem;
}

.footer-2{
    margin-left: 172px;
}

.footer-3{
    margin-left: 143px;
}


/* Our stories */
.our-stories{
    padding-top: 60px;
    padding-bottom: 60px;
    background-image: url(../assets/bg.png),
    linear-gradient(to top, rgba(254, 163, 1, 0.3), #FFFFFF);
    height: 1018px;
    flex-direction: column;
    align-items: center;
}
.story-title{
    margin: 0;
    font-weight: bold;
    font-size: 2.875rem;
}
.story-cards{
    padding-top: 80px;
    padding-bottom: 80px;
    max-width: 1160px;
    /* background-color: slateblue; */
}
.story-cards > div{
    flex: 1;
}
.story-card-large{
    background-color: #FFFFFF;
    border-radius: 16px;
    overflow: hidden;
}
.story-card-large > img{
    width: 100%;
}
.story-card-title{
    font-weight: bold;
    font-size: 1.5rem;
    margin: 0;
    margin-top: 58.63px;
    margin-bottom: 47.93px;
    margin-left: 38.35px;
    margin-right: 38.35px;
}
.story-card-desc{
    font-weight: 500;
    font-size: 1rem;
    color: #666666;
    margin: 0;
    margin-bottom: 34.52px;
    line-height: 28.8px;
    margin-left: 38.35px;
}
.card-1-img{
    position: relative;
}
.story-card-date{
    display: block;
    border-radius: 46px;
    font-size: 1rem;
    font-weight: 500;
    padding: 14px 19px;
    border: 0;
    background-color: #3CD8E8;
    color: #FFFFFF;
    position: absolute;
    bottom: -20px;
    left: 38.5px;
}


/* Responsive for small device */
@media screen and (max-width: 576px){
    /* Navbar */
    .nav-links{
        display: none;
    }
    .nav-title{
        display: none;
    }
    .nav-button{
        display: none;
    }
    .hamburger{
        display: block;
    }
    header{
        border: 1px solid #FEA301;
        padding: 12px;
        padding-left: 16px;
        padding-right: 16px;
    }

    /* Banner */
    .banner{
        padding: 8px 16px 20px;
    }
    .banner{
        flex-direction: column-reverse;
    }
    .banner-title, .banner-desc, .banner-btn{
        text-align: center;
    }

    .banner-title{
        font-size: 2rem;
    }
    .banner-desc{
        font-size: 0.875rem;
    }
    .primary-btn{
        font-size: 1rem;
    }

    /* standard-curriculam */
    .curriculam-arrow{
        display: none;
    }
    .curriculam-container{
        flex-direction: column;
        justify-content: center;
        padding-left: 16.5px;
        padding-right: 16.5px;
    }
    .curriculam-title{
        font-size: 1.625rem;
    }
    /* Footer */
    .footer-container{
        flex-direction: column;
        padding: 65px 16px;
    }
    .footer-img-title{
        max-width: 251px;
    }
    .footer-2{
        margin-left: 0px;
    }
    
    .footer-3{
        margin-left: 0px;
    }
}

/* Responsive for medium device */
@media screen and (min-width:576px) and (max-width:992px){
        /* Navbar */
        .nav-title{
            display: none;
        }
        .nav-button{
            display: none;
        }
        .hamburger{
            display: block;
        }
        header{
            border: 1px solid #FEA301;
            padding: 12px;
            padding-left: 16px;
            padding-right: 16px;
        }

        /* Banner */
        .banner{
            padding: 8px 16px 20px;
        }
        .banner{
            flex-direction: column-reverse;
        }
        .banner-title, .banner-desc, .banner-btn{
            text-align: center;
        }

        /* standard-curriculam */
        .curriculam-container{
            flex-direction: column;
            justify-content: center;
        }
        /* Footer */
        .footer-container{
            flex-direction: column;
            padding: 65px 16px;
        }
        .footer-img-title{
            max-width: 251px;
        }
        .footer-2{
            margin-left: 0px;
        }
        
        .footer-3{
            margin-left: 0px;
        }

}